/***
 * Layout 4:Image Left *
 ***/

.modalContent{
    position: relative;
    overflow: hidden;
}
.modalContent__image{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    min-height: 330px;
    width: 250px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
}
.modalContent__content{
    float:right;
    width: 353px;
    padding: 22px 42px;
    min-height: 330px;
}

.content__monkeyRewards{
    float: right;
    width: 353px;
    text-align: right;
    box-sizing: border-box;
}

.content__titleDescription {
    margin-top: 30px;
}

.content__button{
    margin-bottom: 20px;
    height: 36px;
}

.content__formFields {
    margin-top: 20px;
}

/* Mobile Styles via .modalContent--mobile */

.modalContent--mobile {
    width: 100%;
    min-height: auto;
}

.modalContent--mobile .modalContent__content{
    width: 100%;
    padding: 200px 50px 22px 22px;
}

.modalContent--mobile .content__monkeyRewards{
    width: 100%;
    padding: 22px;
    padding-top: 0px;
}

.modalContent--mobile .modalContent__image{
    height: 200px;
    min-height: 200px;
    width: 100%;
}
